name: static analysis
on:
  push:
  pull_request:
  # Run every Monday at 6am UTC
  schedule:
    - cron: '0 6 * * 1'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Lint
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --show-diff-on-failure
